.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 120px;
}

.navbar-brand {
  z-index: 1000;
}

.bg-black {
  background-color: #141414;
}

.avatar {
  width: 35px;
  border-radius: 4px;
}

#nav-dropdown {
  color: white;
  font-size: large;
}

.custom-toggle {
  cursor: pointer;
  position: absolute;
  left: 10em;
  top: 2em;
  transform: translateY(-50%);
  z-index: 1000;
}

.navbar .nav-link {
  color: white;
  font-size: .8em;
}

.navbar {
  padding: 0 2.5vw;
}

.right-navbar {
  display: flex !important;
  flex-direction: row !important;
  gap: .4em;
  flex-shrink: 0 !important;
}

.netflix-navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  transition: all 0.3s;
  transition-timing-function: ease-in;
}

.left-navbar {
  position: absolute;
  left: 11em;
  top: 2em;
  transform: translateY(-50%);
  z-index: 1000;
}

.right-navbar {
  position: absolute;
  right: 3em;
  top: 2em;
  transform: translateY(-50%);
  z-index: 1000;
}

.left-dropdown {
  margin-right: 1em;
}

.sign-out {
  text-align: center;
}

.navbar-nav .dropdown-menu {
  width: 220px;
  background-color: #141414 !important;
  position: absolute;
  right: 0;
  top: 11em;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: .8;
}

.custom-toggle .dropdown-menu {
  width: 220px;
  text-align: center;
  background-color: #141414 !important;
  position: absolute;
  left: -5em;
  top: 9em;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: .8;
}

.dropdown-item {
  font-size: .8em;
  color: white !important;
}

.dropdown-divider {
  border-top: 1px solid white !important;
}
.dropdown-item:hover {
  background-color: #141414 !important;
  text-decoration: underline;
}

.left-navbar .nav-link{
  opacity: 1;
}

.left-navbar .nav-link:hover {
  opacity: .8;
}